html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

:root {
  --primary-color: rgba(215, 84, 85, 0.9);
  --primary-color-deep: rgba(215, 84, 85, 1);
  --text-color: #222;
  --text-color-shallow: #2225;
}